build/
data/
model/
example-data/
nuscenes/
outputs/
.codex
*.plan
*.log
*.json
*.txt:Zone.Identifier
*.pth
ptq/qat/
ptq/pth/
ptq/__pycache__/
ptq/lean/__pycache__/
tool/__pycache__/
tools/__pycache__/
